body {
  background-color: #191919;
  font-family: "Bebas Neue", cursive;
  font-family: "Space Mono", monospace;
}
/* ------------------------------------------------------Nav---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------- */
nav {
  width: 100%;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav > ul {
  line-height: 3.2rem;
}
nav > ul > li {
  list-style: none;
  margin-right: 2rem;
}
nav > ul > li > a {
  text-decoration: none;
  padding: 0px 20px;
  font-size: 28px;
  color: #191919;
}

nav > img {
  cursor: pointer;
  width: 12%;
  object-fit: contain;
  height: 80%;
  margin-left: 2rem;
}

/* Header----------------------------------------------------------------content -------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------- */

header {
  background-color: #e4e4e4;
  width: 96%;
  height: 100vh;
  margin: 2% 0% 0% 0%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgb(243, 252, 79); */
  /* display: none; */
}
.header-content {
  /* background-color: rgb(255, 0, 212); */
  width: 98%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(242, 0, 255); */
  position: relative;
}
.header-content > article > h1,
h3,
h2,
p,
a {
  margin: 1rem;
}
.header-content > article {
  flex: 50%;
  display: flex;
  flex-direction: column;
  line-height: 0.5rem;
  justify-content: center;
}
.header-content > article > p,
a {
  margin-top: 1rem;
  color: #191919;
  color: #333333;
  text-decoration: none;
}
.header-content > article > h2 {
  color: #636363;
  letter-spacing: 0.5rem;
  margin-top: 0.2rem;
  white-space: nowrap;
}
.header-content > article > h1 {
  font-size: 3.9rem;
  margin-bottom: 2rem;
  white-space: nowrap;
  letter-spacing: 1sem;
  margin-left: 0.8rem;
}
.header-content > article > h1 > span {
  font-size: 2rem;
  color: #315b8a;
}
.header-content > article > h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.header-content > .header-pic {
  display: flex;
  flex: 50%;
  /* background-color: rgb(205, 253, 255);
  z-index: 0; */
}
.header-content > .header-pic > .pic {
  /* width: 50%; */
  flex: 25%;
  height: 100%;
  background-image: url(../assets/img/pic.png);
  background-size: cover;
  filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.header-content > .header-pic > .pic:hover {
  filter: grayscale(20%);
  background-size: 105%;
  cursor: pointer;
}

.header-content > .header-pic > #mern {
  /* width: 100%; */
  flex: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  overflow: hidden;
}
#mern > h1 {
  font-size: 10rem;
  letter-spacing: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 50%;
  /* background-color: #e4e4e4; */
  text-align: center;
  transform: rotate(90deg);
}

.btn {
  background-color: #333333;
  width: 25%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background-color: #315b8a;
  letter-spacing: 1px;
}
/* ----------------------------------------------------------------#about-section----------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------- */
#about-section {
  background-color: #191919;
  width: 96%;
  height: 100vh;
  /* margin: 2% 0% 0% 0%; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* display: none; */
  flex-wrap: wrap;
}
#about-section > .about {
  flex: 50%;
  width: 100%;
  /* background-color: #315b8a; */
  display: flex;
  flex-direction: column;
  justify-content: centerS;
}
.section-h3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  mix-blend-mode: difference;
}
.parragrafo {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #e4e4e4;
}
#about-section > .about > blockquote {
  text-align: center;
  line-height: 1.5rem;
  color: #e4e4e4;
}
.anchor {
  color: #e4e4e4;
  font-style: italic;
  cursor: pointer;
}
.anchor:hover {
  color: #315b8a;
  text-decoration: 1.5px underline white;
}
#about-section > .skills {
  flex: 50%;
  width: 100%;
  background-color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-section > .skills > .tec {
  /* background-color: #ffffff; */
  width: 100%;
  height: 96%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tec > .tecBox {
  background-color: #e4e4e4;
  height: 33%;
  width: 33%;
  /* margin: 0.5%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.tecBox:nth-child(7) {
  width: 99.7%;
}
.tecBox > a {
  font-size: 3.5rem;
}
.tecBox > i {
  height: 5em;
}
/* --------------------------------------my work------------------------------------------ */
/* ----------------------------------------------------------------------------------------- */
.work {
  background-color: #e4e4e4;
  width: 96%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
.workBox {
  /* background-color: #315b8a; */
  width: 90%;
  height: 70%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.workBox > .work-pic {
  width: 32%;
  height: 95%;
  background-color: #191919;
}
.work-pic {
  background-size: 100%;
  background-repeat: no-repeat;
  filter: blur(1px) grayscale(110%);
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 10px 15px -12px rgba(0, 0, 0, 0.71);
}
.work-pic:hover {
  filter: blur(0px) grayscale(10%);
  background-size: 105%;
  cursor: pointer;
}
.work-pic:nth-child(1) {
  background-image: url(../assets/img/web.png);
}
.work-pic:nth-child(2) {
  background-image: url(../assets/img/AWARDS.png);
}
.work-pic:nth-child(3) {
  background-image: url(../assets/img/eslabon.png);
}
/* ------------------------------------Contact----------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */

#contact {
  background-color: #191919;
  width: 96%;
  /* height: 100vh; */
  /* margin: 2% 0% 0% 0%; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact > form {
  display: flex;
  flex-direction: column;
  color: #e4e4e464;
}
#contact > form > label {
  margin-bottom: 1em;
  margin-top: 1.5em;
}
#contact > form > input {
  margin-top: 1rem;
  height: 2rem;
  background-color: #191919;
  border-style: none;
  border-bottom: 2px solid #e4e4e4;
  color: #e4e4e4;
}
#contact > form > textarea {
  color: #191919;
  margin-top: 2em;
  background-color: #191919;
}
#contact > form > input:focus,
textarea:focus {
  outline: none;
}
.gender {
  margin: 0rem 0rem 1rem 0rem;
}
#contact > form > input[type="submit"] {
  background-color: #e4e4e4;
  border: none;
  color: #191919;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#contact > form > input[type="submit"]:hover {
  background-color: #315b8a;
  color: #e4e4e4;
}
#contact > form > select {
  background-color: #191919;
  color: #e4e4e4;
}
#contact > form > select:focus {
  outline: none;
}
footer {
  width: 96%;
  height: 30%;
  /* background-color: aqua; */
  margin-top: 2rem;
  color: #d8d8d841;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.social {
  /* background-color: #da3636; */
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social > a {
  font-size: 2.5rem;
  color: #e4e4e4;
  transition: all 0.5 ease-in-out;
}
/* .social > a :hover:nth-child(1) {
  color: #4267b2;
}
.csocial > a :nth-child(2) :hover {
  olor: #0077b5;
}
.social > a:hover :nth-child(3) {
  color: #833ab4;
} */
